exportPattern(".")
importFrom("graphics", "legend", "lines", "par", "plot")
importFrom("stats", "predict", "qf", "qt",
             "spline", "uniroot", "optimize", "qqnorm", "qqline", "coef", 
			 "nls", "residuals")
importFrom("utils", "combn", "write.table")
import(minpack.lm)
