exportPattern(".")
importFrom("graphics", "lines", "par", "plot")
importFrom("stats", "nls", "nls.control", "predict", "qf", "qt",
             "spline", "uniroot", "optimize")
importFrom("utils", "combn")
import(nls2)
